body {
  background: teal;
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: cornsilk;
}

button {
  color: cornsilk;
  border-radius: 10px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: blueviolet;
}

img {
  height: 200px;
  width: 45%;
  margin-top: 10px;
  border-radius: 10px;
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.mouseMove {
  border: 2px solid rgba(132, 147, 137, 0.851);
}
