body {
  background: rgb(80, 177, 177);
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: cornsilk;
}

button {
  color: cornsilk;
  border-radius: 10px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: blueviolet;
}

img {
  height: 200px;
  width: 45%;
  margin-top: 10px;
  border-radius: 10px;
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.mouseMove {
  border: 2px solid rgba(132, 147, 137, 0.851);
}

#monBtn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aqua;
}

.themeContainer {
  position: absolute;
  top: 0px;
  cursor: pointer;
}

.class {
  border: 2px rgb(36, 240, 21);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

#dark {
  background: rgb(11, 1, 31);
}
#orange {
  background: orangered;
}
#salmon {
  background: salmon;
}

.darkTheme {
  background: rgb(11, 1, 31);
}
.orangeTheme {
  background: orangered;
}
.salmonTheme {
  background: salmon;
}
